<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVOZ - Unsupported Media</title>
    <link href="./css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./fonts/material-icons.css">
    <link href="./css/TVOZ.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">TVOZ ...an exciting experience.</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col offset-l3 l6">
              <div class="card">
                <div class="card-image">
                  <img src="./img/supportMedia.jpg">
                  <span class="card-title">View Media Unsupported</span>
                </div>
                <div class="card-content">
                    <p>
                        You are viewing TVOZ with an unsupported media (Desktop). Please use mobile device for <b>an exciting experience</b>.
                    </p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>